# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# Ansible
/infra/ansible/vault.pass

# AWS CLI downloaded files
infra/terraform/aws/
infra/terraform/awscliv2.zip

# IDE
.idea/
*.iml

# OS
.DS_Store
Thumbs.db